include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include tideshift_minimal *.py
recursive-include tideshift_minimal *.html
recursive-exclude tideshift_minimal *.pyc
recursive-exclude tideshift_minimal *.pyo
recursive-exclude tideshift_minimal __pycache__
recursive-exclude tideshift_minimal *.egg-info
