include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include test_deploy *.py
recursive-include test_deploy *.html
recursive-exclude test_deploy *.pyc
recursive-exclude test_deploy *.pyo
recursive-exclude test_deploy __pycache__
recursive-exclude test_deploy *.egg-info
